<a href="https://colab.research.google.com/github/Nadiaere/Block-results.-Choice-of-specialization/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
!gdown --id 1oT_EAho8khCg31dIHvPKkNNEpnLwk_AT
df = pd.read_csv('Pokemon.csv')
df.head()

/usr/local/lib/python3.8/dist-packages/gdown/cli.py:127: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1oT_EAho8khCg31dIHvPKkNNEpnLwk_AT
To: /content/Pokemon.csv
100% 44.0k/44.0k [00:00<00:00, 44.0MB/s]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

Задание 44  В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

In [86]:
import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAml':lst})
data.head()

  whoAml
0  human
1  human
2  human
3  robot
4  robot

In [48]:
print (df.dtypes)

#              int64
Name          object
Type 1        object
Type 2        object
Total          int64
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

# получить список названий столбцов

In [147]:
print(df.columns)

Index(['team', 'points'], dtype='object')

импортировать функцию OneHotEncoder() из библиотеки sklearn для выполнения однократного кодирования переменной team

In [148]:
from sklearn. preprocessing import OneHotEncoder

# создание экземпляра one-hot-encoder

In [149]:
encoder = OneHotEncoder(handle_unknown='ignore')

выполнить однократное кодирование в столбце Team

In [150]:
encoder_df = pd.DataFrame(encoder. fit_transform(df[['team']]).toarray())

объединить столбцы с горячим кодированием обратно с исходным DataFrame

In [151]:
new_df = df.join (encoder_df)

In [152]:
print(new_df)

  team  points    0    1    2
0    A      25  1.0  0.0  0.0
1    A      12  1.0  0.0  0.0
2    B      15  0.0  1.0  0.0
3    B      14  0.0  1.0  0.0
4    B      19  0.0  1.0  0.0
5    B      23  0.0  1.0  0.0
6    C      25  0.0  0.0  1.0
7    C      29  0.0  0.0  1.0

удалить исходную категориальную переменную

In [153]:
new_df.drop('team', axis= 1 , inplace= True)
print(new_df)

   points    0    1    2
0      25  1.0  0.0  0.0
1      12  1.0  0.0  0.0
2      15  0.0  1.0  0.0
3      14  0.0  1.0  0.0
4      19  0.0  1.0  0.0
5      23  0.0  1.0  0.0
6      25  0.0  0.0  1.0
7      29  0.0  0.0  1.0

переименовать новые столбцы

In [154]:
new_df.columns = ['points', 'team1', 'team2', 'team3']

вывод

In [155]:
print(final_df)

   points  team1  team2  team3
0      25    1.0    0.0    0.0
1      12    1.0    0.0    0.0
2      15    0.0    1.0    0.0
3      14    0.0    1.0    0.0
4      19    0.0    1.0    0.0
5      23    0.0    1.0    0.0
6      25    0.0    0.0    1.0
7      29    0.0    0.0    1.0